.landing-layout-container {
  background: url(#{$img-path}/login_back.jpg) center;
  background-size: cover;
  height: 100%;
}

.landing-layout-container:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}
