.login-register-grid {
  min-height: 100vh;

  & .login-register-container {
    text-align: right;
    color: white;
    padding: 50px 75px 50px 65px;

    & .header {
      font-size: 42px;
      margin-bottom: 25px;
    }

    & .btn {
      margin-top: 50px;
    }

    & .register-btn {
      margin-right: 22px;
    }
  }
}
