.welcome-container {
  & .section {
    height: 650px;
    max-width: 100%;
    text-align: center;

    &.small {
      height: 300px;
    }

    &.med {
      height: 400px;
    }

    &.large {
      height: 550px;
    }
  }

  & .dev-or-employer {
    background-color: #93b2d3;
  }

  & .create-account {
    background: url(#{$img-path}/vines_bg2.png) center;
    background-color: #7fc0ae;
  }

  & .our-future {
    background: url(#{$img-path}/wave2.png) center;
    background-color: #4246ad;
  }
}
