.welcome-container {
  & .section {
    min-height: 650px;
    max-width: 100%;
    text-align: center;
    padding: 45px;

    &.small {
      min-height: 300px;
    }

    &.med {
      min-height: 400px;
    }

    &.large {
      min-height: 550px;
    }
  }

  & .img-container {
    margin: 35px 0 35px 0;
  }

  & .dev-or-employer {
    background-color: #93b2d3;
  }

  & .create-account {
    background: url(#{$img-path}/vines_bg2.png) center;
    background-color: #7fc0ae;
  }

  & .our-future {
    background: url(#{$img-path}/wave2.png) center;
    background-color: #4246ad;
  }
}
